.App {
	align-items: center;
	background-image: url("../images/home/background.svg");
	background-repeat: no-repeat;
	background-size: 2000px;
	color: #fff;
	display: flex;
	flex-direction: column;
	font-size: calc(10px + 2vmin);
	justify-content: center;
	min-height: calc(100vh - 1em);
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.App-link {
	color: #61dafb;
}
