hr {
	width: 80%;
}

.projects {
	color: #fff;
	margin-bottom: 2%;
	margin-top: 2%;
}

.projects-Grid {
	justify-content: center;
	margin: auto !important;
	width: 100% !important;
}

.projects-Container {
	background-color: #1e2227;
	margin: auto;
	width: 100%;
}

.projects-DisplayContainer {
	padding-left: 0 !important;
	transition: all 0.5s ease;
}

.projects-Card {
	background-color: #1e2227 !important;
	color: #fff !important;
	margin: auto;
	max-width: 300px;
	text-decoration: none !important;
}

.projects-Thumbnail {
	background-color: #f5f4f4;
	background-size: cover !important;
	border-radius: 50%;
	height: calc(100vh / 4 - 1em);
	margin: auto;
	max-height: 300px;
	max-width: 300px;
	transition: all 0.5s ease;
	width: calc(100vh / 4 - 1em);
}

.projects-URL {
	text-decoration: none;
}

.project-Experiences {
	font-size: 1.5em;
}

.projects-KeywordThumbnail {
	background-color: #f5f4f4;
	background-repeat: no-repeat !important;
	background-size: 102% !important;
	border-radius: 25%;
	height: calc(100vh / 16 - 1em);
	margin: auto;
	transition: all 0.5s ease;
	width: calc(100vh / 16 - 1em);
}

.projects-KeywordThumbnail:hover {
	background-size: 115% !important;
	transition: all 0.2s ease;
}

.filter-Filtering {
	background-color: #f5f4f4;
	background-size: 75% !important;
	border-radius: 25%;
	filter: invert(0.75);
	height: calc(100vh / 16 - 1em);
	margin: auto !important;
	transition: all 0.5s ease;
	width: calc(100vh / 16 - 1em);
}

.filter-Filtering:hover {
	background-size: 85% !important;
	transition: all 0.2s ease;
}

.filter-Accordion {
	background-color: #1e2227 !important;
	color: #fff !important;
	margin-top: 1% !important;
	margin: auto !important;
	text-align: center;
	transition: all 0.2s ease;
	width: 80%;
}

.filter-AccordionHeader {
	justify-content: center;
	margin: auto !important;
}

.filter-Header {
	font-size: 0.75em !important;
}

.filter-Expand {
	color: #fff;
	font-size: 1em !important;
}

.filter-Cards {
	margin-bottom: 1%;
	margin-top: 1%;
}

.filter-ActionCard {
	border-radius: 30% !important;
}

.filter-Switcher {
	font-size: 0.75em !important;
	padding: 0 !important;
}

.filter-SwitcherDescription {
	margin-top: 0%;
}

.filter-Reset {
	background-color: #001ca8 !important;
	border-radius: 25% !important;
	border: 3px solid #001ca8 !important;
	font-size: 0.65em !important;
	line-height: 2em !important;
	transition: all 1s ease !important;
}

.filter-Reset:hover {
	background-color: #0041b9 !important;
	border-radius: 5% !important;
	border: 3px solid #0041b9 !important;
	transition: all 0.25s ease !important;
}

.responsibilities-Accordion {
	width: 100% !important;
}

.responsibilities-AccordionHeader {
	font-size: 1.5em !important;
	margin-left: 0 !important;
	width: 100% !important;
}

.responsibilities-bullets {
	line-height: 1.2em;
	margin-bottom: 3%;
	text-align: left;
}

/* Accessibility */
.dyslexia-global .MuiTypography-root {
	font-family: OpenDyslexia2 !important;
}

.dyslexia-global .MuiButton-label {
	font-family: OpenDyslexia2 !important;
}

/* Modify Material-UI */
.MuiGrid-spacing-xs-2 {
	width: auto !important;
}

.MuiTypography-body2 {
	color: #fff !important;
	text-decoration: none !important;
}

.MuiAccordionSummary-content {
	justify-content: center !important;
	margin: 12px 0 !important;
}

.MuiSwitch-track {
	background-color: #00d5ff !important;
}

.MuiSwitch-thumb {
	color: #ff23d0 !important;
}

.MuiAccordionSummary-root {
	border-radius: 5% !important;
}

.MuiAccordionSummary-root:hover {
	background-color: #272b2f !important;
	transition: all 0.2s ease;
}
