.projects {
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
}

.projects-Grid {
    margin: auto !important;
    justify-content: center;
}

.projects-Container {
    margin: auto;
    width: 100%;
    background-color: #1e2227;
}

.projects-DisplayContainer {
    margin: auto;
}

.projects-Card {
    margin: auto;
    max-width: 300px;
    background-color: #1e2227 !important;
    color: white !important;
    text-decoration: none !important;
}

.projects-Thumbnail {
    height: calc(100vh / 4 - 1em);
    width: calc(100vh / 4 - 1em);
    background-size: contain !important;
    border-radius: 50%;
    background-color: #f5f4f4;
    margin: auto;
}

.projects-URL {
    text-decoration: none;
}

/* Modify Material-UI */
.MuiGrid-spacing-xs-2 {
    width: auto !important;
}

.MuiTypography-body2 {
    color: white !important;
    text-decoration: none !important;
}