.contact {
	padding-bottom: 2%;
}

.contact p {
	margin-bottom: 1%;
}

.contact-Container {
	margin: auto;
	width: 100%;
}

.contact-Button {
	color: white !important;
}

.contact-Button .MuiSvgIcon-root {
	border-radius: 50%;
	border: 1px solid #fff !important;
	font-size: 2.25em !important;
	padding: 0.25em !important;
	transition: all 1s ease !important;
}

.contact-Button .MuiSvgIcon-root:hover {
	background-color: #0041b9 !important;
	border: 1px solid #0041b9 !important;
	transition: all 0.25s ease !important;
}

.contact-Footer {
	font-size: 0.5em;
	margin-top: 2%;
	margin: auto;
}

.contact-Footer .MuiSvgIcon-root {
	font-size: 0.75em;
}

.workTogether-Button {
	background-color: #003ba8 !important;
	border-radius: 25% !important;
	border: 3px solid #003ba8 !important;
	font-size: 0.5em !important;
	line-height: 2em !important;
	transition: all 1s ease !important;
}

.workTogether-Button:hover {
	background-color: #0041b9 !important;
	border-radius: 5% !important;
	border: 3px solid #0041b9 !important;
	transition: all 0.25s ease !important;
}

/* Material-UI */
.MuiButton-startIcon {
	margin: auto !important;
}
