.contact {
    padding-bottom: 2%;
}

.contact p {
    margin-bottom: 1%;
}

.contact-Container {
    width: 100%;
    margin: auto;
}

.contact-HeaderHover {
    cursor: default;
    transition: all 5s ease;
    text-shadow: 1px 2px 3px #666;
}

.contact-HeaderHover:hover {
    transition: all 0.5s ease;
    color: #b32ad0;
}

.contact-Button {
    color: white !important;
}

.contact-Button .MuiSvgIcon-root {
    font-size: 2.25em !important;
    border: 1px solid #fff !important;
    border-radius: 50%;
    padding: 0.25em !important;
    transition: all 1s ease !important;
}

.contact-Button .MuiSvgIcon-root:hover {
    background-color: #0041b9 !important;
    border: 1px solid #0041b9 !important;
    transition: all 0.25s ease !important;
}

.contact-Footer {
    font-size: 0.5em;
    margin: auto;
    margin-top: 2%;
}

.contact-Footer .MuiSvgIcon-root {
    font-size: 0.75em;
}

.workTogether-Button {
    font-size: 0.5em !important;
    background-color: #343b42 !important;
    border: 3px solid #0041b9 !important;
    border-radius: 25% !important;
    line-height: 2em !important;
    transition: all 1s ease !important;
}

.workTogether-Button:hover {
    background-color: #0041b9 !important;
    border-radius: 5% !important; 
    transition: all 0.25s ease !important;
}