body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: #131518;
	color: #fff;
	font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;
	margin: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;
	width: auto;
}

// Custom animations
@keyframes twinkle {
	0%,
	100% {
		opacity: 0.5;
	}
	10%,
	90% {
		opacity: 0.7;
	}
	20%,
	80% {
		opacity: 0.8;
	}
	30%,
	70% {
		opacity: 0.9;
	}
	50% {
		opacity: 1;
	}
}

/* CSS keyframe animation for shooting stars away */
@keyframes shootAway {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	100% {
		transform: translate(-100vw, 100vh) scale(2);
		opacity: 0;
	}
}
