.publications-Container {
	background-color: #1e2227;
	margin: auto;
	width: 100%;
}

.publications {
	color: #fff;
	margin-bottom: 2%;
	margin-top: 2%;
}

.publications-Title {
	font-size: 1.5em;
}

.publications-URL {
	text-decoration: none;
}

.publications-Card {
	background-color: #1e2227 !important;
	color: #fff !important;
	margin: auto;
	max-width: 95%;
	text-align: left;
	text-decoration: none !important;
}

.publications-meta {
	color: rgb(177, 175, 175);
	margin-top: 1% !important;
}

.publications-meta .publications-URL {
	color: inherit;
}

.publications-abstract {
	line-height: 1.75em !important;
	margin-top: 1% !important;
}
