.home {
	align-items: center;
	color: #fff;
	display: flex;
	flex-direction: column;
	font-size: calc(10px + 2vmin);
	justify-content: center;
	max-height: calc(1920px - 1em);
	min-height: calc(100vh - 1em);
	text-align: center;
	width: 100% !important;
}

.hover-Name {
	cursor: default;
	text-shadow: 1px 2px 3px #666;
	transition: all 5s ease;
}

.hover-Name:hover {
	color: rgb(43, 255, 0);
	transition: all 0.5s ease;
}

.h2-description {
	font-size: 1.5em;
	font-weight: 600;
	margin: 0.5em;
	text-shadow: 1px 2px 3px #666;
}

.h3-description {
	font-size: 1.17em;
	font-weight: 500;
	line-height: 1.17em;
	margin: 0.5em;
	text-shadow: 1px 2px 3px #666;
}

.carousel-description {
	font-size: 1.17em;
	height: 1.17em;
}

.profilePic {
	border-radius: 50%;
	min-width: 200px;
	width: 20%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE10+ CSS styles go here */
	.profilePic {
		width: auto;
	}
}

.accessibility-toggles {
	margin: 1%;
	position: absolute;
	top: 0;
}

.dyslexia-toggle .MuiTypography-root {
	font-family: OpenDyslexia2 !important;
	font-size: 0.6em;
	text-shadow: 1px 2px 3px #666;
}

/* Material-UI */
.MuiCheckbox-root {
	color: #08f500 !important;
	transition: all 0.5s ease;
}
