.home {
    width: 100% !important;
    background-image: url('../../../../images/home/background.jpg');
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 2000px;
}

.h2-description {
    text-shadow: 1px 2px 3px #666;
    margin: 0.5em;
    font-weight: 600;
}

.h3-description {
    text-shadow: 1px 2px 3px #666;
    margin: 0.5em;
    font-weight: 500;
    font-size: 1.17em;
    line-height: 1.17em;
}

.carousel-description {
    font-size: 1.17em;
    height: 1.17em;
}

.profilePic {
    min-width: 200px;
    width: 20%;
    border-radius: 50%;
}