/* Adjust Material-UI */
.MuiToolbar-root {
    background-color: #333333ad;
}

.MuiToolbar-root > * {
    color: white !important;
}

.MuiAppBar-colorPrimary {
    background-color: #3f51b500 !important;
}

.viewPoint-active > * {
    color: #00f3ff !important;
}

.flexGrow-empty {
    flex-grow: 1
}