body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: #1e2227;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif, OpenDyslexia2;
	margin: 0;
	overflow-x: hidden;
	width: auto;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace, OpenDyslexia2;
}
